/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/adult/public/upload/member/*.jpg
/adult/public/upload/member/*.png
/adult/src/*.php
/adult/src/*.pem
/public/upload/categories/*
/public/upload/ads/*
/public/upload/csv/*
/public/upload/video/*
/public/upload/channel/*
/public/upload/pornstar/*
/public/upload/member/*

/storage/*
videos/*
